Solution 1:
    
    database:
    -------------
     A database is organized collection of structured information or data typicallystored electronically in a computer system. 
     A database is usually controlled by database management system(DBMS)
     Access to this data is usually provided by a "database management system" (DBMS) consisting of an integrated set of 
     computer software that allows users to interact with one or more databases and    provides access to all of the data contained in the 
     database (although restrictions may exist that limit access to particular data)
     
     
     Difference between sql and nosql:
     -----------------------------------
     
     
     sql:
     RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
     These databases have fixed or static or predefined schema
     These databases are not suited for hierarchical data storage.
     These databases are best suited for complex queries
     Vertically Scalable
     Follows ACID property
     Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc
     
     
     nosql:
     Non-relational or distributed database system.
     They have dynamic schema
     These databases are best suited for hierarchical data storage.
     These databases are not so good for complex queries
     Horizontally scalable
     Follows CAP(consistency, availability, partition tolerance)
     Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.

#solution 2:
    
    
    DDL(data definition language):
    -------------------------------------
    
    the data definition language is made up of sql commands that can be used to design th database 
    structure. it simply handles database scheme description and is used to construct and modify the 
    structure of database objects in the database.
    
    in other words we can say that ddl is command in sql which is use for some command  CREATE, DROP, ALTER AND TRUNCATE in the 
    table, function and index etc
    
    
    CREATE:
    
    this command us used for create the database or its objects like table index function etc
    example:
    CREATE TABLE abc if not exits absxcs ()
    
    DROP:
    
    this command is used to delete object from database
    example:
    DROP DATEBASE abc;
    
    
    ALTER :
    
    this commmand is used to alter the structure of database.
    example:
    ALTER TABLE abc ADD abcs;
    
    
    TRUNCATE:
    
    this is used to remove all records from a table include all spaces allocated for the record and remove.
    example:
    TRUNCATE TABLE abc;

#solution 3:

    DML(data manipulation language) is a structured query languge change the data present in sql
    databse. we can easily access, store, modify, update and delete the existing records from 
    the databse using DML commands.
    
    INSERT:
    
    insert allows users to insert data in database table.
    example:
    INSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (104, Anmol, 89, 19);  
    
    
    UPDATE:
    update allows user to update and modifiy the existing data in database table.
    example: 
    UPDATE Product SET Product_Price = 80 WHERE Product_Id = 'P102' ;  
    
    
    DELETE:
    delete allows user to remove data the existing data in database.
    example:
    DELETE FROM Product WHERE Product_Id = 'P202' ;

#solution 4:

    DQL(data query language):
    
    it is a part of the base grouping of sql sub language. these  sub language are mainly categorized into 
    four categories: a data. it helps to analysis of the quries.
    Dql retrueves info and data from the tansformation, it has single command  select, it modify the 
    index structure. it can also modify the database table.
    
    
    SELECT:

    this is same as the projection operation of relation alegbra. it used ti select the 
    attribute based on the condition described by WHERE clase.
    example:

    SELECT emp_name  FROM employee  WHERE age > 20;

#solution 5:
    Primary key and Foreign key:
    
    primary key:
    
     A primary key is minimal set of attribute of table that has the task to 
     unique indify the rows, or ew can sat that tuples of thegiven particular table 
     A primamry key to a relation is one of a possible candidate key ehich is database designer thinks it's is primary.
     example:
     CREATE TABLE STUDENT_DETAIL (  
    Roll_no int NOT NULL PRIMARY KEY,  
    Name varchar (200) NOT NULL,  
    Marks int NOT NULL  
    } ;  
     
     
     foreign key:
     
     the use of a foreign key is simply to link the attributes of two tables together with the help of the primary key attribute, thus it is used for creating and maintaining the relationship between the two relation.
     example:
    CREATE TABLE Department (  
    Dept_name varchar (120) NOT NULL,  
    Stud_Id int,  
      FOREIGN KEY (Stud_Id) REFERENCES Student (Stud_Id)  
    );

#solution 6:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("create database")
mydb.close();



According to the quesstion

cursor()
------------

Cursors in SQL are used to retrieve and manipulate data one row at a time and we are often used them in situations where it is necessary to process the data row by row.


execute()
--------------

This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style). execute() returns an iterator if multi is True.

#solution 7:

    The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.